body {
  background-color: rgb(247, 228, 157);
}

@media only screen and (min-width: 768px) {
  .view {
    background-color: rgb(157, 247, 166);
  }
}
@media only screen and (min-width: 1280px) {
  .view {
    background-color: rgb(235, 157, 247);
  }
}
h1 {
  color: blue;
}
p {
  color: rgb(59, 169, 138);
}
.longparagraph p {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 2em;
  word-spacing: 0.05em;
  max-width: 30em;
}

img {
  width: 500px;
}
